In [92]:
import math 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import gridspec
from sklearn import preprocessing
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [93]:
%run GetData.ipynb

   X0 X1  X2 X3 X4 X5 X6 X8  X10  X11  ...   X375  X376  X377  X378  X379  \
0   k  v  at  a  d  u  j  o    0    0  ...      0     0     1     0     0
1   k  t  av  e  d  y  l  o    0    0  ...      1     0     0     0     0
2  az  w   n  c  d  x  j  x    0    0  ...      0     0     0     0     0
3  az  t   n  f  d  x  l  e    0    0  ...      0     0     0     0     0
4  az  v   n  f  d  h  d  n    0    0  ...      0     0     0     0     0

   X380  X382  X383  X384  X385
0     0     0     0     0     0
1     0     0     0     0     0
2     0     1     0     0     0
3     0     0     0     0     0
4     0     0     0     0     0

[5 rows x 376 columns]
Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10', 'X11',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=376)
**********
0th column: X0
z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
ai     34
m      34
e      32
ba     27
at     25
a      21
ax     19
am     18
aq     18
i      18
u      17
l      16
aw     16
ad     14
k      11
au     11
b      11
r      10
as     10
bc      6
ao      4
c       3
q       2
aa      2
ab      1
g       1
ac      1
Name: X0, dtype: int64
**********
1th column: X1
aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
y      23
f      23
j      22
n      19
k      17
p       9
g       6
d       3
ab      3
q       3
Name: X1, dtype: int64
**********
2th column: X2
as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
i       25
k       25
b       21
ao      20
ag      19
z       19
d       18
ac      13
g       12
ap      11
y       11
x       10
aw       8
h        6
at       6
q        5
al       5
an       5
p        4
av       4
ah       4
au       3
c        1
o        1
af       1
ar       1
l        1
j        1
aa       1
am       1
Name: X2, dtype: int64
**********
3th column: X3
c    1942
f    1076
a     440
d     290
g     241
e     163
b      57
Name: X3, dtype: int64
**********
4th column: X4
d    4205
a       2
c       1
b       1
Name: X4, dtype: int64
**********
5th column: X5
v     231
w     231
q     220
r     215
s     214
d     214
n     212
p     208
m     208
i     207
ae    205
ag    204
ac    200
ab    197
l     195
af    188
ad    185
k     177
c     131
j     125
aa    112
ah     97
o      20
f       7
x       2
h       1
y       1
u       1
g       1
Name: X5, dtype: int64
**********
6th column: X6
g    1042
j    1039
d     625
i     488
l     478
a     206
h     190
k      43
c      38
b      28
f      20
e      12
Name: X6, dtype: int64
**********
7th column: X8
j    277
s    255
f    243
n    242
i    237
e    225
r    219
a    210
w    196
v    194
b    190
k    176
o    163
m    155
g    130
t    119
u    119
h    117
q    117
y    116
x    105
d    103
l    101
c    100
p    100
Name: X8, dtype: int64
**********
8th column: X10
0    4153
1      56
Name: X10, dtype: int64
**********
9th column: X11
0    4209
Name: X11, dtype: int64
**********
10th column: X12
0    3893
1     316
Name: X12, dtype: int64
**********
11th column: X13
0    3965
1     244
Name: X13, dtype: int64
**********
12th column: X14
0    2407
1    1802
Name: X14, dtype: int64
**********
13th column: X15
0    4207
1       2
Name: X15, dtype: int64
**********
14th column: X16
0    4198
1      11
Name: X16, dtype: int64
**********
15th column: X17
0    4177
1      32
Name: X17, dtype: int64
**********
16th column: X18
0    4176
1      33
Name: X18, dtype: int64
**********
17th column: X19
0    3790
1     419
Name: X19, dtype: int64
**********
18th column: X20
0    3608
1     601
Name: X20, dtype: int64
**********
19th column: X21
0    4198
1      11
Name: X21, dtype: int64
**********
20th column: X22
0    3843
1     366
Name: X22, dtype: int64
**********
21th column: X23
0    4122
1      87
Name: X23, dtype: int64
**********
22th column: X24
0    4201
1       8
Name: X24, dtype: int64
**********
23th column: X26
0    4188
1      21
Name: X26, dtype: int64
**********
24th column: X27
1    2873
0    1336
Name: X27, dtype: int64
**********
25th column: X28
0    4072
1     137
Name: X28, dtype: int64
**********
26th column: X29
0    4028
1     181
Name: X29, dtype: int64
**********
27th column: X30
0    4190
1      19
Name: X30, dtype: int64
**********
28th column: X31
0    3231
1     978
Name: X31, dtype: int64
**********
29th column: X32
0    4162
1      47
Name: X32, dtype: int64
**********
30th column: X33
0    4208
1       1
Name: X33, dtype: int64
**********
31th column: X34
0    4186
1      23
Name: X34, dtype: int64
**********
32th column: X35
0    3231
1     978
Name: X35, dtype: int64
**********
33th column: X36
0    4190
1      19
Name: X36, dtype: int64
**********
34th column: X37
0    3231
1     978
Name: X37, dtype: int64
**********
35th column: X38
0    4069
1     140
Name: X38, dtype: int64
**********
36th column: X39
0    4208
1       1
Name: X39, dtype: int64
**********
37th column: X40
0    4206
1       3
Name: X40, dtype: int64
**********
38th column: X41
0    4161
1      48
Name: X41, dtype: int64
**********
39th column: X42
0    4208
1       1
Name: X42, dtype: int64
**********
40th column: X43
0    3905
1     304
Name: X43, dtype: int64
**********
41th column: X44
0    4161
1      48
Name: X44, dtype: int64
**********
42th column: X45
0    3143
1    1066
Name: X45, dtype: int64
**********
43th column: X46
1    2514
0    1695
Name: X46, dtype: int64
**********
44th column: X47
0    4155
1      54
Name: X47, dtype: int64
**********
45th column: X48
0    4115
1      94
Name: X48, dtype: int64
**********
46th column: X49
0    3695
1     514
Name: X49, dtype: int64
**********
47th column: X50
0    3308
1     901
Name: X50, dtype: int64
**********
48th column: X51
1    3038
0    1171
Name: X51, dtype: int64
**********
49th column: X52
0    4031
1     178
Name: X52, dtype: int64
**********
50th column: X53
0    4180
1      29
Name: X53, dtype: int64
**********
51th column: X54
0    4026
1     183
Name: X54, dtype: int64
**********
52th column: X55
0    4187
1      22
Name: X55, dtype: int64
**********
53th column: X56
0    4120
1      89
Name: X56, dtype: int64
**********
54th column: X57
0    4153
1      56
Name: X57, dtype: int64
**********
55th column: X58
1    2420
0    1789
Name: X58, dtype: int64
**********
56th column: X59
0    4206
1       3
Name: X59, dtype: int64
**********
57th column: X60
0    4203
1       6
Name: X60, dtype: int64
**********
58th column: X61
1    4015
0     194
Name: X61, dtype: int64
**********
59th column: X62
0    4184
1      25
Name: X62, dtype: int64
**********
60th column: X63
0    4161
1      48
Name: X63, dtype: int64
**********
61th column: X64
0    2630
1    1579
Name: X64, dtype: int64
**********
62th column: X65
0    4200
1       9
Name: X65, dtype: int64
**********
63th column: X66
0    4095
1     114
Name: X66, dtype: int64
**********
64th column: X67
0    4201
1       8
Name: X67, dtype: int64
**********
65th column: X68
0    3900
1     309
Name: X68, dtype: int64
**********
66th column: X69
0    4083
1     126
Name: X69, dtype: int64
**********
67th column: X70
1    3872
0     337
Name: X70, dtype: int64
**********
68th column: X71
0    3773
1     436
Name: X71, dtype: int64
**********
69th column: X73
0    4125
1      84
Name: X73, dtype: int64
**********
70th column: X74
1    4206
0       3
Name: X74, dtype: int64
**********
71th column: X75
0    4057
1     152
Name: X75, dtype: int64
**********
72th column: X76
0    4026
1     183
Name: X76, dtype: int64
**********
73th column: X77
0    4156
1      53
Name: X77, dtype: int64
**********
74th column: X78
0    4185
1      24
Name: X78, dtype: int64
**********
75th column: X79
0    4103
1     106
Name: X79, dtype: int64
**********
76th column: X80
1    3986
0     223
Name: X80, dtype: int64
**********
77th column: X81
0    3245
1     964
Name: X81, dtype: int64
**********
78th column: X82
0    4137
1      72
Name: X82, dtype: int64
**********
79th column: X83
0    4204
1       5
Name: X83, dtype: int64
**********
80th column: X84
0    3773
1     436
Name: X84, dtype: int64
**********
81th column: X85
0    2491
1    1718
Name: X85, dtype: int64
**********
82th column: X86
0    4203
1       6
Name: X86, dtype: int64
**********
83th column: X87
0    4205
1       4
Name: X87, dtype: int64
**********
84th column: X88
0    4179
1      30
Name: X88, dtype: int64
**********
85th column: X89
0    4206
1       3
Name: X89, dtype: int64
**********
86th column: X90
0    4178
1      31
Name: X90, dtype: int64
**********
87th column: X91
0    4202
1       7
Name: X91, dtype: int64
**********
88th column: X92
0    4205
1       4
Name: X92, dtype: int64
**********
89th column: X93
0    4209
Name: X93, dtype: int64
**********
90th column: X94
0    4178
1      31
Name: X94, dtype: int64
**********
91th column: X95
0    4208
1       1
Name: X95, dtype: int64
**********
92th column: X96
1    3191
0    1018
Name: X96, dtype: int64
**********
93th column: X97
0    4191
1      18
Name: X97, dtype: int64
**********
94th column: X98
1    3967
0     242
Name: X98, dtype: int64
**********
95th column: X99
0    4173
1      36
Name: X99, dtype: int64
**********
96th column: X100
1    2905
0    1304
Name: X100, dtype: int64
**********
97th column: X101
1    3938
0     271
Name: X101, dtype: int64
**********
98th column: X102
0    4180
1      29
Name: X102, dtype: int64
**********
99th column: X103
1    3302
0     907
Name: X103, dtype: int64
**********
100th column: X104
0    4201
1       8
Name: X104, dtype: int64
**********
101th column: X105
0    4199
1      10
Name: X105, dtype: int64
**********
102th column: X106
0    4154
1      55
Name: X106, dtype: int64
**********
103th column: X107
0    4209
Name: X107, dtype: int64
**********
104th column: X108
0    4147
1      62
Name: X108, dtype: int64
**********
105th column: X109
0    4039
1     170
Name: X109, dtype: int64
**********
106th column: X110
0    4205
1       4
Name: X110, dtype: int64
**********
107th column: X111
1    4103
0     106
Name: X111, dtype: int64
**********
108th column: X112
0    4197
1      12
Name: X112, dtype: int64
**********
109th column: X113
0    4115
1      94
Name: X113, dtype: int64
**********
110th column: X114
0    3594
1     615
Name: X114, dtype: int64
**********
111th column: X115
0    3007
1    1202
Name: X115, dtype: int64
**********
112th column: X116
0    3381
1     828
Name: X116, dtype: int64
**********
113th column: X117
0    4002
1     207
Name: X117, dtype: int64
**********
114th column: X118
1    2619
0    1590
Name: X118, dtype: int64
**********
115th column: X119
1    2619
0    1590
Name: X119, dtype: int64
**********
116th column: X120
1    4031
0     178
Name: X120, dtype: int64
**********
117th column: X122
0    4179
1      30
Name: X122, dtype: int64
**********
118th column: X123
0    4198
1      11
Name: X123, dtype: int64
**********
119th column: X124
0    4207
1       2
Name: X124, dtype: int64
**********
120th column: X125
0    4196
1      13
Name: X125, dtype: int64
**********
121th column: X126
0    4045
1     164
Name: X126, dtype: int64
**********
122th column: X127
0    2125
1    2084
Name: X127, dtype: int64
**********
123th column: X128
1    4034
0     175
Name: X128, dtype: int64
**********
124th column: X129
0    3693
1     516
Name: X129, dtype: int64
**********
125th column: X130
0    4034
1     175
Name: X130, dtype: int64
**********
126th column: X131
0    4097
1     112
Name: X131, dtype: int64
**********
127th column: X132
1    2898
0    1311
Name: X132, dtype: int64
**********
128th column: X133
0    3686
1     523
Name: X133, dtype: int64
**********
129th column: X134
0    4115
1      94
Name: X134, dtype: int64
**********
130th column: X135
0    4095
1     114
Name: X135, dtype: int64
**********
131th column: X136
1    4026
0     183
Name: X136, dtype: int64
**********
132th column: X137
1    2449
0    1760
Name: X137, dtype: int64
**********
133th column: X138
0    4037
1     172
Name: X138, dtype: int64
**********
134th column: X139
0    3828
1     381
Name: X139, dtype: int64
**********
135th column: X140
0    4039
1     170
Name: X140, dtype: int64
**********
136th column: X141
0    4149
1      60
Name: X141, dtype: int64
**********
137th column: X142
1    3242
0     967
Name: X142, dtype: int64
**********
138th column: X143
0    4048
1     161
Name: X143, dtype: int64
**********
139th column: X144
1    3401
0     808
Name: X144, dtype: int64
**********
140th column: X145
0    4203
1       6
Name: X145, dtype: int64
**********
141th column: X146
0    4037
1     172
Name: X146, dtype: int64
**********
142th column: X147
0    4115
1      94
Name: X147, dtype: int64
**********
143th column: X148
0    4020
1     189
Name: X148, dtype: int64
**********
144th column: X150
1    3335
0     874
Name: X150, dtype: int64
**********
145th column: X151
0    3849
1     360
Name: X151, dtype: int64
**********
146th column: X152
0    4073
1     136
Name: X152, dtype: int64
**********
147th column: X153
0    4206
1       3
Name: X153, dtype: int64
**********
148th column: X154
0    3330
1     879
Name: X154, dtype: int64
**********
149th column: X155
0    3887
1     322
Name: X155, dtype: int64
**********
150th column: X156
1    3019
0    1190
Name: X156, dtype: int64
**********
151th column: X157
0    3019
1    1190
Name: X157, dtype: int64
**********
152th column: X158
0    3242
1     967
Name: X158, dtype: int64
**********
153th column: X159
0    4152
1      57
Name: X159, dtype: int64
**********
154th column: X160
0    4204
1       5
Name: X160, dtype: int64
**********
155th column: X161
0    3377
1     832
Name: X161, dtype: int64
**********
156th column: X162
0    4037
1     172
Name: X162, dtype: int64
**********
157th column: X163
0    2932
1    1277
Name: X163, dtype: int64
**********
158th column: X164
0    3946
1     263
Name: X164, dtype: int64
**********
159th column: X165
0    4190
1      19
Name: X165, dtype: int64
**********
160th column: X166
0    4069
1     140
Name: X166, dtype: int64
**********
161th column: X167
0    4205
1       4
Name: X167, dtype: int64
**********
162th column: X168
0    3069
1    1140
Name: X168, dtype: int64
**********
163th column: X169
0    4181
1      28
Name: X169, dtype: int64
**********
164th column: X170
0    4107
1     102
Name: X170, dtype: int64
**********
165th column: X171
1    2767
0    1442
Name: X171, dtype: int64
**********
166th column: X172
0    4184
1      25
Name: X172, dtype: int64
**********
167th column: X173
0    4168
1      41
Name: X173, dtype: int64
**********
168th column: X174
0    4136
1      73
Name: X174, dtype: int64
**********
169th column: X175
0    4115
1      94
Name: X175, dtype: int64
**********
170th column: X176
0    4137
1      72
Name: X176, dtype: int64
**********
171th column: X177
0    3998
1     211
Name: X177, dtype: int64
**********
172th column: X178
1    2346
0    1863
Name: X178, dtype: int64
**********
173th column: X179
0    4007
1     202

Name: X179, dtype: int64
**********
174th column: X180
0    3544
1     665
Name: X180, dtype: int64
**********
175th column: X181
0    3814
1     395
Name: X181, dtype: int64
**********
176th column: X182
0    3762
1     447
Name: X182, dtype: int64
**********
177th column: X183
0    4192
1      17
Name: X183, dtype: int64
**********
178th column: X184
0    4203
1       6
Name: X184, dtype: int64
**********
179th column: X185
0    4130
1      79
Name: X185, dtype: int64
**********
180th column: X186
1    2256
0    1953
Name: X186, dtype: int64
**********
181th column: X187
0    2439
1    1770
Name: X187, dtype: int64
**********
182th column: X189
1    3853
0     356
Name: X189, dtype: int64
**********
183th column: X190
0    4208
1       1
Name: X190, dtype: int64
**********
184th column: X191
0    2227
1    1982
Name: X191, dtype: int64
**********
185th column: X192
0    4199
1      10
Name: X192, dtype: int64
**********
186th column: X194
0    2256
1    1953
Name: X194, dtype: int64
**********
187th column: X195
0    4160
1      49
Name: X195, dtype: int64
**********
188th column: X196
0    4166
1      43
Name: X196, dtype: int64
**********
189th column: X197
0    4073
1     136
Name: X197, dtype: int64
**********
190th column: X198
0    4112
1      97
Name: X198, dtype: int64
**********
191th column: X199
0    4197
1      12
Name: X199, dtype: int64
**********
192th column: X200
0    4181
1      28
Name: X200, dtype: int64
**********
193th column: X201
0    3461
1     748
Name: X201, dtype: int64
**********
194th column: X202
0    3193
1    1016
Name: X202, dtype: int64
**********
195th column: X203
0    4138
1      71
Name: X203, dtype: int64
**********
196th column: X204
0    4208
1       1
Name: X204, dtype: int64
**********
197th column: X205
1    4208
0       1
Name: X205, dtype: int64
**********
198th column: X206
0    4128
1      81
Name: X206, dtype: int64
**********
199th column: X207
0    4208
1       1
Name: X207, dtype: int64
**********
200th column: X208
0    3944
1     265
Name: X208, dtype: int64
**********
201th column: X209
1    3782
0     427
Name: X209, dtype: int64
**********
202th column: X210
0    4208
1       1
Name: X210, dtype: int64
**********
203th column: X211
0    4146
1      63
Name: X211, dtype: int64
**********
204th column: X212
0    4186
1      23
Name: X212, dtype: int64
**********
205th column: X213
0    4201
1       8
Name: X213, dtype: int64
**********
206th column: X214
0    4180
1      29
Name: X214, dtype: int64
**********
207th column: X215
0    3794
1     415
Name: X215, dtype: int64
**********
208th column: X216
0    4184
1      25
Name: X216, dtype: int64
**********
209th column: X217
0    4178
1      31
Name: X217, dtype: int64
**********
210th column: X218
0    2894
1    1315
Name: X218, dtype: int64
**********
211th column: X219
0    3925
1     284
Name: X219, dtype: int64
**********
212th column: X220
1    2362
0    1847
Name: X220, dtype: int64
**********
213th column: X221
0    4175
1      34
Name: X221, dtype: int64
**********
214th column: X222
0    4115
1      94
Name: X222, dtype: int64
**********
215th column: X223
1    2337
0    1872
Name: X223, dtype: int64
**********
216th column: X224
0    2873
1    1336
Name: X224, dtype: int64
**********
217th column: X225
0    3801
1     408
Name: X225, dtype: int64
**********
218th column: X226
0    4073
1     136
Name: X226, dtype: int64
**********
219th column: X227
0    4196
1      13
Name: X227, dtype: int64
**********
220th column: X228
0    4045
1     164
Name: X228, dtype: int64
**********
221th column: X229
1    4041
0     168
Name: X229, dtype: int64
**********
222th column: X230
0    4187
1      22
Name: X230, dtype: int64
**********
223th column: X231
0    4141
1      68
Name: X231, dtype: int64
**********
224th column: X232
0    4028
1     181
Name: X232, dtype: int64
**********
225th column: X233
0    4209
Name: X233, dtype: int64
**********
226th column: X234
0    3360
1     849
Name: X234, dtype: int64
**********
227th column: X235
0    4209
Name: X235, dtype: int64
**********
228th column: X236
0    4207
1       2
Name: X236, dtype: int64
**********
229th column: X237
0    4181
1      28
Name: X237, dtype: int64
**********
230th column: X238
1    3856
0     353
Name: X238, dtype: int64
**********
231th column: X239
0    4180
1      29
Name: X239, dtype: int64
**********
232th column: X240
0    4197
1      12
Name: X240, dtype: int64
**********
233th column: X241
0    3800
1     409
Name: X241, dtype: int64
**********
234th column: X242
0    4178
1      31
Name: X242, dtype: int64
**********
235th column: X243
0    4179
1      30
Name: X243, dtype: int64
**********
236th column: X244
0    3773
1     436
Name: X244, dtype: int64
**********
237th column: X245
0    4206
1       3
Name: X245, dtype: int64
**********
238th column: X246
0    2486
1    1723
Name: X246, dtype: int64
**********
239th column: X247
0    3193
1    1016
Name: X247, dtype: int64
**********
240th column: X248
0    4203
1       6
Name: X248, dtype: int64
**********
241th column: X249
0    4177
1      32
Name: X249, dtype: int64
**********
242th column: X250
1    2327
0    1882
Name: X250, dtype: int64
**********
243th column: X251
0    2550
1    1659
Name: X251, dtype: int64
**********
244th column: X252
0    4206
1       3
Name: X252, dtype: int64
**********
245th column: X253
0    4203
1       6
Name: X253, dtype: int64
**********
246th column: X254
0    4187
1      22
Name: X254, dtype: int64
**********
247th column: X255
0    4127
1      82
Name: X255, dtype: int64
**********
248th column: X256
0    3901
1     308
Name: X256, dtype: int64
**********
249th column: X257
0    4208
1       1
Name: X257, dtype: int64
**********
250th column: X258
0    4199
1      10
Name: X258, dtype: int64
**********
251th column: X259
0    4208
1       1
Name: X259, dtype: int64
**********
252th column: X260
0    4208
1       1
Name: X260, dtype: int64
**********
253th column: X261
0    2443
1    1766
Name: X261, dtype: int64
**********
254th column: X262
0    4203
1       6
Name: X262, dtype: int64
**********
255th column: X263
1    4028
0     181
Name: X263, dtype: int64
**********
256th column: X264
0    4043
1     166
Name: X264, dtype: int64
**********
257th column: X265
1    3811
0     398
Name: X265, dtype: int64
**********
258th column: X266
0    4203
1       6
Name: X266, dtype: int64
**********
259th column: X267
0    4171
1      38
Name: X267, dtype: int64
**********
260th column: X268
0    4209
Name: X268, dtype: int64
**********
261th column: X269
0    4207
1       2
Name: X269, dtype: int64
**********
262th column: X270
0    4208
1       1
Name: X270, dtype: int64
**********
263th column: X271
0    4200
1       9
Name: X271, dtype: int64
**********
264th column: X272
0    4051
1     158
Name: X272, dtype: int64
**********
265th column: X273
1    3031
0    1178
Name: X273, dtype: int64
**********
266th column: X274
0    4167
1      42
Name: X274, dtype: int64
**********
267th column: X275
1    3059
0    1150
Name: X275, dtype: int64
**********
268th column: X276
0    4047
1     162
Name: X276, dtype: int64
**********
269th column: X277
0    4203
1       6
Name: X277, dtype: int64
**********
270th column: X278
0    4207
1       2
Name: X278, dtype: int64
**********
271th column: X279
0    4028
1     181
Name: X279, dtype: int64
**********
272th column: X280
0    4208
1       1
Name: X280, dtype: int64
**********
273th column: X281
0    4198
1      11
Name: X281, dtype: int64
**********
274th column: X282
0    4192
1      17
Name: X282, dtype: int64
**********
275th column: X283
0    3617
1     592
Name: X283, dtype: int64
**********
276th column: X284
0    4036
1     173
Name: X284, dtype: int64
**********
277th column: X285
0    3343
1     866
Name: X285, dtype: int64
**********
278th column: X286
0    3979
1     230
Name: X286, dtype: int64
**********
279th column: X287
0    4142
1      67
Name: X287, dtype: int64
**********
280th column: X288
0    4208
1       1
Name: X288, dtype: int64
**********
281th column: X289
0    4209
Name: X289, dtype: int64
**********
282th column: X290
0    4209
Name: X290, dtype: int64
**********
283th column: X291
0    4165
1      44
Name: X291, dtype: int64
**********
284th column: X292
0    4171
1      38
Name: X292, dtype: int64
**********
285th column: X293
0    4209
Name: X293, dtype: int64
**********
286th column: X294
0    3683
1     526
Name: X294, dtype: int64
**********
287th column: X295
0    4208
1       1
Name: X295, dtype: int64
**********
288th column: X296
0    4208
1       1
Name: X296, dtype: int64
**********
289th column: X297
0    4209
Name: X297, dtype: int64
**********
290th column: X298
0    4190
1      19
Name: X298, dtype: int64
**********
291th column: X299
0    4190
1      19
Name: X299, dtype: int64
**********
292th column: X300
0    3338
1     871
Name: X300, dtype: int64
**********
293th column: X301
0    4012
1     197
Name: X301, dtype: int64
**********
294th column: X302
0    4161
1      48
Name: X302, dtype: int64
**********
295th column: X304
1    3890
0     319
Name: X304, dtype: int64
**********
296th column: X305
0    4153
1      56
Name: X305, dtype: int64
**********
297th column: X306
0    4025
1     184
Name: X306, dtype: int64
**********
298th column: X307
0    4200
1       9
Name: X307, dtype: int64
**********
299th column: X308
0    4169
1      40
Name: X308, dtype: int64
**********
300th column: X309
0    4179
1      30
Name: X309, dtype: int64
**********
301th column: X310
0    4198
1      11
Name: X310, dtype: int64
**********
302th column: X311
1    2519
0    1690
Name: X311, dtype: int64
**********
303th column: X312
0    4191
1      18
Name: X312, dtype: int64
**********
304th column: X313
0    2942
1    1267
Name: X313, dtype: int64
**********
305th column: X314
0    2392
1    1817
Name: X314, dtype: int64
**********
306th column: X315
0    4088
1     121
Name: X315, dtype: int64
**********
307th column: X316
0    3386
1     823
Name: X316, dtype: int64
**********
308th column: X317
0    4177
1      32
Name: X317, dtype: int64
**********
309th column: X318
0    4206
1       3
Name: X318, dtype: int64
**********
310th column: X319
0    4207
1       2
Name: X319, dtype: int64
**********
311th column: X320
0    4179
1      30
Name: X320, dtype: int64
**********
312th column: X321
0    3204
1    1005
Name: X321, dtype: int64
**********
313th column: X322
0    4117
1      92
Name: X322, dtype: int64
**********
314th column: X323
0    4170
1      39
Name: X323, dtype: int64
**********
315th column: X324
1    2420
0    1789
Name: X324, dtype: int64
**********
316th column: X325
0    4185
1      24
Name: X325, dtype: int64
**********
317th column: X326
0    4073
1     136
Name: X326, dtype: int64
**********
318th column: X327
0    3669
1     540
Name: X327, dtype: int64
**********
319th column: X328
0    4040
1     169
Name: X328, dtype: int64
**********
320th column: X329
0    2377
1    1832
Name: X329, dtype: int64
**********
321th column: X330
0    4209
Name: X330, dtype: int64
**********
322th column: X331
0    3973
1     236
Name: X331, dtype: int64
**********
323th column: X332
0    4206
1       3
Name: X332, dtype: int64
**********
324th column: X333
0    4108
1     101
Name: X333, dtype: int64
**********
325th column: X334
0    2262
1    1947
Name: X334, dtype: int64
**********
326th column: X335
0    4194
1      15
Name: X335, dtype: int64
**********
327th column: X336
0    3673
1     536
Name: X336, dtype: int64
**********
328th column: X337
1    2174
0    2035
Name: X337, dtype: int64
**********
329th column: X338
0    4180
1      29
Name: X338, dtype: int64
**********
330th column: X339
0    4208
1       1
Name: X339, dtype: int64
**********
331th column: X340
0    4115
1      94
Name: X340, dtype: int64
**********
332th column: X341
0    4175
1      34
Name: X341, dtype: int64
**********
333th column: X342
0    4115
1      94
Name: X342, dtype: int64
**********
334th column: X343
0    3879
1     330
Name: X343, dtype: int64
**********
335th column: X344
0    4173
1      36
Name: X344, dtype: int64
**********
336th column: X345
0    4115
1      94
Name: X345, dtype: int64
**********
337th column: X346
0    4009
1     200
Name: X346, dtype: int64
**********
338th column: X347
0    4209
Name: X347, dtype: int64
**********
339th column: X348
1    3987
0     222
Name: X348, dtype: int64
**********
340th column: X349
0    4020
1     189
Name: X349, dtype: int64
**********
341th column: X350
0    2783
1    1426
Name: X350, dtype: int64
**********
342th column: X351
0    2958
1    1251
Name: X351, dtype: int64
**********
343th column: X352
0    3981
1     228
Name: X352, dtype: int64
**********
344th column: X353
0    4200
1       9
Name: X353, dtype: int64
**********
345th column: X354

0    3355
1     854
Name: X354, dtype: int64
**********
346th column: X355
0    2608
1    1601
Name: X355, dtype: int64
**********
347th column: X356
0    3452
1     757
Name: X356, dtype: int64
**********
348th column: X357
0    4204
1       5
Name: X357, dtype: int64
**********
349th column: X358
0    2412
1    1797
Name: X358, dtype: int64
**********
350th column: X359
0    4075
1     134
Name: X359, dtype: int64
**********
351th column: X360
0    3887
1     322
Name: X360, dtype: int64
**********
352th column: X361
1    4066
0     143
Name: X361, dtype: int64
**********
353th column: X362
1    2190
0    2019
Name: X362, dtype: int64
**********
354th column: X363
1    3173
0    1036
Name: X363, dtype: int64
**********
355th column: X364
0    4197
1      12
Name: X364, dtype: int64
**********
356th column: X365
0    4197
1      12
Name: X365, dtype: int64
**********
357th column: X366
0    4204
1       5
Name: X366, dtype: int64
**********
358th column: X367
0    3991
1     218
Name: X367, dtype: int64
**********
359th column: X368
0    3945
1     264
Name: X368, dtype: int64
**********
360th column: X369
0    4207
1       2
Name: X369, dtype: int64
**********
361th column: X370
0    4181
1      28
Name: X370, dtype: int64
**********
362th column: X371
0    4149
1      60
Name: X371, dtype: int64
**********
363th column: X372
0    4207
1       2
Name: X372, dtype: int64
**********
364th column: X373
0    4128
1      81
Name: X373, dtype: int64
**********
365th column: X374
0    3252
1     957
Name: X374, dtype: int64
**********
366th column: X375
0    2867
1    1342
Name: X375, dtype: int64
**********
367th column: X376
0    3968
1     241
Name: X376, dtype: int64
**********
368th column: X377
0    2884
1    1325
Name: X377, dtype: int64
**********
369th column: X378
0    4122
1      87
Name: X378, dtype: int64
**********
370th column: X379
0    4169
1      40
Name: X379, dtype: int64
**********
371th column: X380
0    4175
1      34
Name: X380, dtype: int64
**********
372th column: X382
0    4177
1      32
Name: X382, dtype: int64
**********
373th column: X383
0    4202
1       7
Name: X383, dtype: int64
**********
374th column: X384
0    4207
1       2
Name: X384, dtype: int64
**********
375th column: X385
0    4203
1       6
Name: X385, dtype: int64
Index(['X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=368)
Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype='object')
   X0 X1  X2 X3 X4 X5 X6 X8
0   k  v  at  a  d  u  j  o
1   k  t  av  e  d  y  l  o
2  az  w   n  c  d  x  j  x
3  az  t   n  f  d  x  l  e
4  az  v   n  f  d  h  d  n
   X10  X11  X12  X13  X14  X15  X16  X17  X18  X19  ...   X8_p  X8_q  X8_r  \
0    0    0    0    1    0    0    0    0    1    0  ...      0     0     0
1    0    0    0    0    0    0    0    0    1    0  ...      0     0     0
2    0    0    0    0    0    0    0    1    0    0  ...      0     0     0
3    0    0    0    0    0    0    0    0    0    0  ...      0     0     0
4    0    0    0    0    0    0    0    0    0    0  ...      0     0     0

   X8_s  X8_t  X8_u  X8_v  X8_w  X8_x  X8_y
0     0     0     0     0     0     0     0
1     0     0     0     0     0     0     0
2     0     0     0     0     0     1     0
3     0     0     0     0     0     0     0
4     0     0     0     0     0     0     0

[5 rows x 555 columns]
0    130.81
1     88.53
2     76.26
3     80.62
4     78.02
Name: y, dtype: float64

In [103]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 20)

In [104]:
from sklearn.feature_selection import SelectKBest # Select features according to the k highest scores.
from sklearn.feature_selection import f_classif

# feature extraction
#X_new = SelectKBest(score_func=chi2, k=4).fit_transform(X, y)
feat_selector= SelectKBest(score_func=f_classif, k=5)
X_new= feat_selector.fit_transform(X, y)

print(X_new.shape)
print(feat_selector.pvalues_)
# summarize scores
print(feat_selector.scores_)

(4209, 5)
[9.99999974e-001             nan 7.57481326e-002 9.71653267e-001
 2.35614438e-004 0.00000000e+000 1.00000000e+000 2.35739068e-224
 1.23649343e-004 9.92469346e-001 9.87040218e-001 7.48750287e-001
 9.99988972e-001 9.99943278e-001 1.60033039e-048 1.34685911e-009
 6.33875567e-001 3.58255952e-250 0.00000000e+000 9.99731778e-001
 1.30418559e-003 9.89821073e-001 1.00000000e+000 1.57129472e-001
 1.30418559e-003 1.00000000e+000 1.30418559e-003 3.44777038e-007
 1.00000000e+000 2.93565307e-071 2.37106866e-004 1.00000000e+000
 9.18166424e-040 9.17039349e-001 9.59547357e-001 1.47421155e-001
 7.70576237e-039 3.07638073e-058 2.43882348e-001 5.59576724e-001
 2.65346969e-002 3.13857439e-021 9.83981863e-001 0.00000000e+000
 2.13262924e-034 9.72211254e-004 4.92726699e-007 4.06596953e-002
 9.99997631e-001 9.97531732e-001 4.99429321e-018 1.72705725e-029
 1.65399441e-054 1.62223402e-001 1.00000000e+000 4.24871592e-046
 9.98747545e-001 3.35386719e-018 3.07886425e-005 9.69686838e-001
 1.05681293e-006 8.96852348e-004 1.48437554e-009 8.30150812e-031
 0.00000000e+000 2.69218430e-001 2.85915916e-022 1.35446744e-007
 1.69139104e-018 8.57216252e-001 9.60794158e-001 1.00000000e+000
 1.05681293e-006 7.81663821e-003 6.44190000e-043 9.99960365e-001
 6.41724563e-004 1.48437554e-009 7.21143736e-006 7.45078219e-003
 1.00000000e+000             nan 7.21143736e-006 0.00000000e+000
 4.50589091e-001 1.00000000e+000 7.99440117e-010 1.75488427e-002
 7.43454080e-003 3.69027586e-008 9.83981863e-001 7.93311323e-004
 8.61355471e-001 9.99852440e-001 9.92853175e-001             nan
 3.75099088e-289 1.90316662e-001 1.59580508e-108 1.07243602e-056
 3.85949404e-021 3.07638073e-058 1.82836677e-015 5.80838671e-006
 9.87273361e-001 2.53024641e-001 2.39988299e-015 2.39988299e-015
 3.13857439e-021 6.41724563e-004 9.99999944e-001 2.81053972e-002
 2.09691661e-037 2.06892806e-034 7.46391801e-231 4.57045248e-017
 2.22480401e-001 4.57045248e-017 6.31521043e-001 8.80383142e-001
 9.98492875e-001 3.07638073e-058 9.92146791e-001 0.00000000e+000
 5.53469669e-002 7.79823665e-001 9.93340123e-001 7.78413984e-001
 8.30432078e-001 2.02577488e-002 8.31091085e-002 1.22478136e-001
 1.00000000e+000 7.79823665e-001 3.07638073e-058 5.76949270e-105
 2.63496271e-001 3.42161713e-002 4.65632966e-005 2.93565307e-071
 4.90509328e-001 6.59089975e-002 3.47926937e-004 3.47926937e-004
 2.02577488e-002 0.00000000e+000 9.14711556e-021 9.49431668e-001
 0.00000000e+000 3.14959480e-001 5.27358027e-001 1.05183559e-037
 0.00000000e+000 3.68362688e-214 7.56073987e-001 0.00000000e+000
 1.70227713e-041 1.21204340e-002 1.72705725e-029 9.02481331e-001
 1.19811157e-016 9.99988597e-001 1.30679825e-002 8.80285166e-003
 6.65118031e-008 8.00923843e-020 1.46642354e-002 9.98784986e-001
 9.27436345e-001 8.11312019e-021 1.00000000e+000 0.00000000e+000
 8.68632356e-003 3.84674038e-002 2.53072057e-122 0.00000000e+000
 2.84615131e-003 1.09892682e-124 8.68632356e-003 8.00464386e-028
 3.02111640e-018 5.45581013e-005 2.35668291e-058 3.85949404e-021
 9.63848994e-001 9.99963782e-001 9.89068085e-001 9.99999568e-001
 0.00000000e+000 0.00000000e+000 8.98204479e-010 1.00000000e+000
 3.26924779e-007 1.52186165e-005 1.00000000e+000 1.90687126e-004
 1.00000000e+000 9.98747545e-001 9.83981863e-001 9.96776147e-001
 1.72705725e-029 7.21143736e-006 4.27813161e-002 3.69249362e-001
 2.56074487e-001 2.41379189e-021 3.07638073e-058 2.19215522e-004
 2.17480889e-004 1.15799796e-002 4.65632966e-005 2.09691661e-037
 1.35207620e-011 5.74958025e-012 5.22630573e-001 1.85416737e-001
 0.00000000e+000             nan 1.13971632e-001             nan
 0.00000000e+000 1.00000000e+000 1.83879115e-120 9.83981863e-001
 7.87501010e-001 9.20003138e-007 7.21143736e-006 6.41724563e-004
 1.05681293e-006 1.48437554e-009 1.73520684e-002 9.89068085e-001
 9.97531732e-001 3.40827352e-008 1.62699951e-007 2.40573477e-004
 0.00000000e+000 9.97531732e-001 5.22630573e-001 4.57696916e-006
 5.44433947e-029 1.00000000e+000 9.81017776e-001 1.00000000e+000
 0.00000000e+000 4.00496306e-154 1.00000000e+000 0.00000000e+000
 2.02715317e-034 1.09230021e-097 1.00000000e+000 2.32471215e-054
             nan 1.41526789e-009 0.00000000e+000 2.15663431e-017
 0.00000000e+000 3.40187675e-002 3.29098199e-189 1.26617406e-012
 0.00000000e+000 5.24390420e-100 8.92642426e-049 0.00000000e+000
 1.00000000e+000 1.00000000e+000 8.84896565e-010 1.33297781e-001
 9.99998370e-001 4.02573108e-002 1.75298915e-040 3.79064125e-007
 1.00000000e+000             nan             nan 2.04283655e-001
 3.31781280e-002             nan 9.96999064e-001 1.00000000e+000
 1.00000000e+000             nan 1.00000000e+000 1.00000000e+000
 3.02247673e-005 9.83255895e-001 9.17039349e-001 1.82638195e-006
 6.75597072e-001 1.96082932e-018 5.20021846e-015 9.97880463e-001
 9.99999924e-001 1.09313316e-125 7.51508272e-013 6.61760026e-001
 2.94671102e-014 4.83532369e-181 3.57482208e-026 3.19790896e-003
 8.31959798e-001 3.51014270e-137 0.00000000e+000 6.41724563e-004
 5.81405206e-001 2.44568694e-029 1.39401394e-001 4.06596953e-002
 1.06926652e-197 4.65632966e-005 9.84724484e-001 0.00000000e+000
 9.44711940e-001             nan 2.88950553e-003 0.00000000e+000
 9.99999372e-001 3.84787003e-001 3.53261013e-001 3.18833374e-001
 4.89633619e-001 1.00000000e+000 0.00000000e+000 6.56566883e-001
 6.41300879e-004 9.27768281e-001 4.51011087e-002 8.10717452e-002
 1.11957482e-006 1.10505331e-003             nan 5.38418923e-018
 1.08125267e-004 3.34398138e-003 3.98205191e-001 1.81345205e-004
 1.76381006e-048 9.45351255e-003 1.50253530e-001 9.99950481e-001
 9.08982700e-006 5.03596245e-002 9.62017184e-001 6.59089975e-002
 9.98764979e-001 2.61959205e-003 5.27191404e-001 7.87501010e-001
 7.87501010e-001 1.63267843e-009 5.37854797e-005 3.62043876e-007
 2.81053972e-002 9.68048414e-001 2.01319073e-279 0.00000000e+000
 9.99993062e-001 5.39673489e-001 9.26740686e-001 1.29059963e-001
 9.74513142e-001 0.00000000e+000 3.00214513e-025 1.08875919e-002
 2.35739068e-224 1.32358654e-078 0.00000000e+000 9.97531732e-001
 0.00000000e+000 0.00000000e+000 1.00000000e+000 1.00000000e+000
 4.08052916e-004 7.68842140e-001 1.16692647e-010 1.08618001e-021
 9.99999954e-001 1.00000000e+000 5.94150870e-016 1.88840143e-065
 1.00000000e+000 3.10533873e-061 1.00167703e-020 2.39845860e-019
 9.99999745e-001 9.99999997e-001 1.68562523e-021 0.00000000e+000
 1.00000000e+000 1.00000000e+000 5.24390420e-100 9.83880267e-049
 5.09893354e-005 1.60652385e-016 1.00000000e+000 0.00000000e+000
 2.17909166e-013 4.92684828e-001 1.46734838e-010 9.99999995e-001
 1.00000000e+000 9.92556617e-001 9.55344972e-001 9.99993340e-001
 1.41526789e-009 3.96156553e-001 9.99999907e-001 9.70922756e-001
 9.83819103e-001 2.35067679e-009 1.16698514e-021 9.86936466e-017
 9.00492499e-001 9.99974245e-001 9.98704482e-001 1.00000000e+000
 9.96600395e-001 1.00000000e+000 9.99997631e-001 9.65338233e-001
 1.81920418e-001 5.30193650e-137 7.37583641e-001 7.22836670e-005
 8.40744663e-002 1.39495330e-001 1.71554930e-003 9.39485824e-036
 3.42866602e-073 9.99964638e-001 9.95085608e-001 3.51014270e-137
 9.99975730e-001 1.30358871e-001 1.14407504e-015 3.02987584e-001
 6.53515060e-008 7.55671160e-009 4.61858227e-186 9.99904022e-001
 0.00000000e+000 2.09691661e-037 9.84582604e-001 1.00000000e+000
 9.99731778e-001 1.08443429e-048 9.96776147e-001 7.33750730e-001
 9.14711556e-021 0.00000000e+000 1.19525478e-048 1.00000000e+000
 1.00000000e+000 1.90687126e-004 0.00000000e+000 2.40573477e-004
 1.00000000e+000 9.99997631e-001 1.00000000e+000 9.98747545e-001
 9.99999993e-001 1.34685911e-009 0.00000000e+000 1.00000000e+000
 1.01537189e-010 9.99943278e-001 3.85949404e-021 6.44190000e-043
 1.47598763e-001 1.00000000e+000 1.72705725e-029 1.00000000e+000
 9.99990666e-001 3.58255952e-250 1.00000000e+000 1.00000000e+000
 1.00000000e+000 2.65848026e-001 3.07638073e-058 9.83981863e-001
 9.99852440e-001 9.99985961e-001 1.00000000e+000 2.01715520e-001
 8.93074427e-001 7.49448336e-001 9.99898271e-001 1.87518795e-002
 9.99948630e-001 1.00000000e+000 0.00000000e+000 5.94150870e-016
 3.95103059e-001 9.99995844e-001 5.88584139e-002 6.35583458e-004
 3.31667007e-001 9.43103256e-001 9.37101966e-001 1.74766035e-001
 9.40590172e-001 1.64965421e-057 0.00000000e+000 0.00000000e+000
 9.75830821e-002 4.20974667e-001 8.91027870e-004 9.99729679e-001
 3.74707314e-001 4.49149860e-002 1.00000000e+000 9.85559938e-001
 7.65778549e-001 8.33489735e-001 5.82689766e-001 0.00000000e+000
 2.70736939e-001 8.95801597e-001 0.00000000e+000 1.00000000e+000
 1.84686661e-002 7.71075863e-026 6.93465015e-001 2.15091602e-013
 9.95162528e-022 7.88959374e-001 7.28532086e-001 9.50610882e-001
 1.93942597e-002 1.60045010e-004 6.38010591e-001 9.99999746e-001
 9.91463088e-001 9.97769623e-001 6.24452390e-001 1.67483543e-002
 1.30670917e-002 4.90563281e-001 1.58616935e-001 1.37960825e-001
 1.35242376e-001 1.53764410e-002 2.78483245e-001 5.72789427e-002
 1.00000000e+000 9.99813910e-001 9.85892773e-002 7.91738309e-001
 3.07644178e-007 3.64387017e-004 2.02735483e-001 1.42844832e-001
 5.18618486e-001 9.67072284e-001 9.99037424e-001]
[ 0.78581591         nan  1.06635486  0.91887657  1.169988           inf
  0.75761652  4.76461257  1.17892244  0.89773381  0.90586321  0.970704
  0.82864228  0.84276919  1.95729128  1.30772774  0.98500312  5.27028449
 18.96879762  0.8577131   1.14461343  0.90216732  0.32681092  1.04611847
  1.14461343  0.60312476  1.14461343  1.25038903  0.32681092  2.28721025
  1.169899    0.32681092  1.82692596  0.94033899  0.92543008  1.04805015
  1.81295924  2.09909405  1.03160398  0.99347709  1.09053882  1.53165084
  0.90921985 19.17577418  1.74502744  1.14916813  1.24643374  1.08121978
  0.8165611   0.88274874  1.47518957  1.6680655   2.04488409  1.04513777
  0.48285483  1.92152485  0.87452424  1.47830915  1.1972727   0.92007778
  1.23784758  1.15040319  1.30677748  1.68896746 19.17577418  1.0279828
  1.54947922  1.26056446  1.48365201  0.95369998  0.9248341   0.51253881
  1.23784758  1.11445987  1.87425635  0.83954953  1.15545803  1.30677748
  1.21532879  1.11533194  0.35773096         nan  1.21532879         inf
  1.00569318  0.67557939  1.31279832  1.09903599  1.11537154  1.27434178
  0.90921985  1.15226847  0.95291461  0.85175971  0.89698283         nan
  6.09905441  1.04007194  2.8310663   2.07670927  1.53010135  2.09909405
  1.42780238  1.21793802  0.90558073  1.030274    1.4255617   1.4255617
  1.53165084  1.15545803  0.79077736  1.08931794  1.79116628  1.74523099
  4.88887812  1.4576774   1.03483559  1.4576774   0.98527745  0.94909057
  0.87671105  2.09909405  0.89833976 19.17577418  1.07406808  0.96634975
  0.89597814  0.96655399  0.95846164  1.09613905  1.06397801  1.05346417
  0.58347     0.96634975  2.09909405  2.77822352  1.02878349  1.08506156
  1.19193161  2.28721025  1.00120034  1.0698346   1.16443531  1.16443531
  1.09613905  8.12250805  1.52361541  0.92979704 16.7768367   1.02187792
  0.99708272  1.79572833 15.37225078  4.57364348  0.96970374  7.74251043
  1.85297907  1.10627099  1.6680655   0.94408921  1.44996079  0.82891711
  1.10482523  1.11227955  1.2681523   1.507162    1.10258681  0.87416953
  0.93735667  1.52451895  0.6895464   7.321679    1.11252542  1.0824656
  3.03867389         inf  1.13202746  3.07467782  1.11252542  1.64136077
  1.47912631  1.18986029  2.10077245  1.53010135  0.92330762  0.83875183
  0.90324558  0.80426505         inf         inf  1.31167001  0.65377725
  1.25097474  1.2061638   0.16332776  1.17295271  0.5672848   0.87452424
  0.90921985  0.8861557   1.6680655   1.21532879  1.08006638  1.01514727
  1.0298364   1.53361595  2.09909405  1.17100271  1.17111421  1.10714107
  1.19193161  1.79116628  1.35101112  1.35873571  0.99761069  1.04091805
 18.96879762         nan  1.05549332         nan         inf  0.69684982
  3.01040612  0.90921985  0.96522478  1.23942158  1.21532879  1.15545803
  1.23784758  1.30677748  1.0992613   0.90324558  0.88274874  1.27517068
  1.258587    1.1696943          inf  0.88274874  0.99761069  1.22078879
  1.66010787  0.21782215  0.91199362  0.32681092         inf  3.53670982
  0.6895464  18.96879762  1.7453679   2.67091016  0.6895464   2.04273075
         nan  1.30724369         inf  1.46365104 11.24788036  1.08518858
  4.12540098  1.372196   15.43284157  2.70499808  1.96102093 18.96879762
  0.65377725  0.55878489  1.31181472  1.05102685  0.81377047  1.08144417
  1.83776371  1.24934254  0.65377725         nan         nan  1.03773465
  1.08573653         nan  0.88523145  0.32681092  0.32681092         nan
  0.62794021  0.62794021  1.19750919  0.90993653  0.94033899  1.23157232
  0.98004561  1.48250049  1.41916073  0.88085045  0.792653    3.08999797
  1.37677851  0.98171212  1.4046286   3.98424903  1.61456153  1.13008082
  0.95820321  3.26764301         inf  1.15545803  0.99101854  1.66565727
  1.04971423  1.08121978  4.27494401  1.19193161  0.90845797 12.84985847
  0.93160465         nan  1.13177598         inf  0.80688555  1.01329517
  1.01708379  1.02138162  1.00129839  0.75447547         inf  0.98233144
  1.1554679   0.93725641  1.07885843  1.06461883  1.23719069  1.14719369
         nan  1.47459964  1.18074517  1.12932964  1.01171637  1.17365178
  1.95666967  1.11095789  1.04747767  0.84154018  1.21251492  1.07629966
  0.92423471  1.0698346   0.87436028  1.1334018   0.99710133  0.96522478
  0.96522478  1.30584507  1.19004733  1.24984996  1.08931794  0.92103143
  5.88436292         inf  0.82489311  0.9957065   0.93756571  1.0519638
  0.9170026   8.11233769  1.59937964  1.10830998  4.76461257  2.39324638
         inf  0.88274874         inf         inf  0.32681092  0.68153739
  1.16212907  0.96792288  1.33112326  1.53957504  0.78952759  0.72511602
  1.43700456  2.2034079   0.75997241  2.14248635  1.5229309   1.49876141
  0.80065044  0.77340111  1.53629866 15.15263933  0.48069706  0.73959149
  2.70499808  1.96039932  1.19074638  1.44760022  0.68145267         inf
  1.38754187  1.00095683  1.32897153  0.77637671  0.54721863  0.89756602
  0.92733773  0.82456749  1.30724369  1.01195628  0.79398817  0.91933046
  0.90938286  1.30226127  1.5390406   1.45151811  0.94456987  0.83577667
  0.8749206   0.65315564  0.88684537  0.74766395  0.8165611   0.92252588
  1.04153076  3.26484577  0.97220204  1.1861463   1.06367864  1.04969435
  1.14027635  1.76591417  2.31508941  0.83854096  0.89175534  3.26764301
  0.83526477  1.0516743   1.43165164  1.02343028  1.26833843  1.29061158
  4.07069638  0.84763874         inf  1.79116628  0.9086059   0.32681092
  0.8577131   1.95977772  0.8861557   0.97270919  1.52361541         inf
  1.95915611  0.74586895  0.75761652  1.17295271         inf  1.1696943
  0.6895464   0.8165611   0.57116153  0.87452424  0.77784631  1.30772774
         inf  0.67557939  1.33242623  0.84276919  1.53010135  1.87425635
  1.04801403  0.65377725  1.6680655   0.65377725  0.82728215  5.27028449
  0.21782215  0.35773096  0.51253881  1.02845328  2.09909405  0.90921985
  0.85175971  0.83063572  0.60312476  1.0381566   0.94630536  0.97060929
  0.84818876  1.09770456  0.84187118  0.21782215         inf  1.43700456
  1.0120798   0.82086019  1.07259326  1.15560165  1.01975688  0.93219365
  0.93428484  1.04280918  0.93308883  2.08851293         inf         inf
  1.0597446   1.00907434  1.15050264  0.85779262  1.01449354  1.07895343
  0.71536651  0.9075627   0.9683547   0.95794296  0.99087326         inf
  1.02777187  0.9456774          inf  0.16332776  1.09801115  1.6090922
  0.97785409  1.38765421  1.54022657  0.96500859  0.97339424  0.92932517
  1.09702384  1.17538275  0.98452011  0.80062774  0.89955629  0.8814822
  0.98609811  1.09996679  1.10482654  1.0011943   1.04582987  1.05002028
  1.05060408  1.10165667  1.02670559  1.07324755  0.75744621  0.85403818
  1.05946866  0.96459433  1.25164336  1.16376873  1.03798861  1.04899166
  0.99805872  0.92158102  0.87148232]

In [105]:
feature_names= X.columns.values # column names
mask = feat_selector.get_support() #list of booleans
new_features = [] # The list of your K best features

for bool, feature in zip(mask, feature_names):
    if bool:
        new_features.append(feature)
        
X_new= pd.DataFrame(X_new, columns= new_features)

In [106]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import cross_val_score
clf = GaussianNB()

# fit the classifier on the training features and labels
#clf.fit(X, y) 

scoresAcc= cross_val_score(clf, X_new.astype(int), y.astype(int), cv=5, scoring='accuracy')
print("Accuracy values: "+ str(list(scoresAcc)))
print('Mean:%.2f' %scoresAcc.mean())

Accuracy values: [0.05436013590033975, 0.05620608899297424, 0.057279236276849645, 0.058465286236297195, 0.05904059040590406]
Mean:0.06

In [107]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_new, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [108]:
X_new.shape

(4209, 5)

In [109]:
regressor.coef_

array([ 33.36798477,  -7.74201523, -22.65201523,  30.13798477,
       -22.23201523])

In [128]:
print("r2_score: %.2f" % scoresAcc.mean())

r2_score: 0.06

In [130]:
import matplotlib.pyplot as plt
# recursive feature elimination and cross-validated selection of the best number of features
from sklearn.feature_selection import RFECV

In [133]:
# The "neg_mean_squared_error" scoring:
rfecv = RFECV(estimator=regressor, step=1, cv=5, scoring='neg_mean_squared_error')
rfecv.fit(X, y)
print("Optimal number of features : %d" % rfecv.n_features_)
print(X.columns)
print(rfecv.support_)

Optimal number of features : 5
Index(['X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19',
       ...
       'X8_p', 'X8_q', 'X8_r', 'X8_s', 'X8_t', 'X8_u', 'X8_v', 'X8_w', 'X8_x',
       'X8_y'],
      dtype='object', length=555)
[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False  True False
 False False False False False False False False False False False False
 False  True False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False  True False False  True  True False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False]